@{
    ViewBag.Title = "Agent Welcome Screen";
}

<div class="main-header">
	<h3>WELCOME</h3>
</div>

<div class="tabs">
    <div class="tab">
        <input type="radio" id="savedTab" name="agentQuotes" checked />
        <label for="savedTab">Saved Quotations</label>
        <div class="tabContent">
            <p>There are no saved quotations to show.</p>
        </div>
    </div>
    <div class="tab">
        <input type="radio" id="submittedTab" name="agentQuotes"/>
        <label for="submittedTab">Submitted Quotations</label>
        <div class="tabContent">
            <p>There are no submitted quotations to show.</p>
        </div>
    </div>
</div>